#header {
	background-color: #005581;
}

.page-top {
	/* add to page top so fixed navbar won't affect*/
	padding-top:100px; 
}

.row {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.member-card {
	text-align: center;
	color: black;
	background-color: white;
	border-radius: 0;
	border-width: 0;
	margin-bottom: 10px;
}

.member-picture {
	max-height: 100%;
	max-width: 100%;
}

.side {
	background-color: #f1f1f1;
	border-width: 0px;
}

footer {
	background-color: #f1f1f1;
}
